# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcodeproj/*
*.xcworkspace/*
*.xccheckout
*.xcuserdata
*.moved-aside
*.swp
*.lock
*.hmap

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Swift Package Manager
.build/
Packages/

# Xcode Cloud
.xcodecloud/

# xcconfig files
*.xcconfig

# Archive files
*.ipa
*.dSYM.zip
*.xcarchive
